body{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
}

:root{
	--brand: darkgreen;
	--accent1: darkgreen;
	--accent1hov: rgb(48, 139, 48);
}

.column{
	display:flex;
	flex-direction: column;
}
.row {
	display:flex;
	flex-direction: row;
}

p{
	line-height: 26px;
}


.block{
	display:flex;
	align-items: center;
	justify-content: center;

	margin: 40px 30px;
	padding: 20px 10px;
}

img{
	width: 170px;
	height: 170px;

	margin: 20px;

	object-position: center;
	object-fit: cover;
}

.me{
	border-radius: 140px;
	box-shadow: 0px 0px 15px #aaaaaaac;
}

.jobicon{
	box-shadow: 0px 0px 15px #aaaaaaac;
}

.bio {
	width: 600px;
	margin: 20px;
}



.app-container{
	display:flex;
}

.app {
	height: 40px;
	width:40px;
	
	padding: 5px;

	background-color: white;
	object-fit: cover;
	object-position: center;
	filter: grayscale(100%);

	transition:0.3s ease-in-out;
	border: 2px solid white;
	border-radius: 30px;

}

.app:hover{
	border-color: var(--accent1);
}

.subtitle{
	color: gray;
	margin: 0px;
}

li {
	margin:8px;
}

.job-container{
	display:flex;
	align-items: center;
	justify-content: center;

	zoom: 85%;
}

.button{
	border:none;

	background-color: var(--accent1);
	color:white;
	font-size: 16px;
	
	width: 200px;
	padding: 15px;
	margin: 20px;

	transition: 0.2s ease-in-out;
}

.button:hover{
	background-color: var(--accent1hov);

}


.cards-container{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.cards-container img {
	margin:0px;
}

.project-card{
	display:flex;
	flex-direction: column;
    align-items: flex-start;

	margin:20px;
}

.project-title{
	font-size: 18px;
	margin:0px
}

.project-class{
	font-size: 12px;
	margin:0px;
}



.pannel-container{
	display: flex;
	flex-direction: column;
}

.pannel {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;

	margin: 20px;
}

.pannel-desc {
	display: flex;
	flex-direction: column;

	margin: 20px;
}

.pannel-desc p {
	font-size: 15px;
	max-width: 420px;
}